//Logo
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Mixins
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 793px) and (max-width: 1279px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 792px) {
    @content;
  }
}
@mixin logoContainer {
  border: none;
  background-color: black;
  background-image: url("../../public/images/logo_red_transparent.png");
  background-position: center;
  background-size: cover;
  animation: zoomIn 2s ease alternate, pulse 1s 2s infinite alternate;
}

body {
  font-family: league-gothic, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.hidden {
  display: none;
}

.logo{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    @include mobile {
      width: 60vw;
      height: 30vh;
      @include logoContainer;
    }
    @include tablet {
      width: 60vw;
      height: 30vh;
      @include logoContainer;
    }
    @include desktop {
      width: 30vw;
      height: 30vh;
      border: none;
      @include logoContainer;
    }
  }
  &_container:hover {
    cursor: pointer;
  }
}
