@keyframes pulse {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1.5);
    opacity: 1; } }

@keyframes hoverZoom {
  from {
    transform: scale(1);
    border-radius: 1rem; }
  to {
    transform: scale(1.2);
    border: 0.5rem solid #DA0419;
    border-radius: 1rem; } }

@keyframes opacity {
  from {
    opacity: 1; }
  to {
    opacity: 0.1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes leftToRight {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(100%); } }

@keyframes textColor {
  from {
    color: #DA0419; }
  to {
    color: black; } }

body {
  font-family: league-gothic, sans-serif;
  font-style: italic;
  color: #DA0419;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }

.hidden {
  display: none; }

.app {
  background-color: #d3d3d32e; }

.logo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .logo_container {
      width: 60vw;
      height: 30vh;
      border: none;
      background-color: transparent;
      background-image: url("../images/logo_red_transparent.png");
      background-position: center;
      background-size: cover;
      animation: zoomIn 2s ease alternate, pulse 1s 2s infinite alternate; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .logo_container {
      width: 60vw;
      height: 30vh;
      border: none;
      background-color: transparent;
      background-image: url("../images/logo_red_transparent.png");
      background-position: center;
      background-size: cover;
      animation: zoomIn 2s ease alternate, pulse 1s 2s infinite alternate; } }
  @media (min-width: 1280px) {
    .logo_container {
      width: 30vw;
      height: 30vh;
      border: none;
      border: none;
      background-color: transparent;
      background-image: url("../images/logo_red_transparent.png");
      background-position: center;
      background-size: cover;
      animation: zoomIn 2s ease alternate, pulse 1s 2s infinite alternate; } }
  .logo_container:hover {
    cursor: pointer; }

.top_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px -10px 20px 10px lightgrey;
  color: #FFF;
  height: 8vh;
  width: 100vw; }
  .top_nav_logo {
    font-size: 3rem;
    color: #DA0419;
    display: flex;
    align-items: center;
    margin-left: 1rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .top_nav_logo {
        font-size: 4rem; } }
    @media (min-width: 1280px) {
      .top_nav_logo {
        font-size: 4rem; } }
    .top_nav_logo:hover {
      cursor: pointer; }
      @media (min-width: 1280px) {
        .top_nav_logo:hover {
          animation: textColor .3s ease forwards; } }

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 3rem; }
  .menu_route {
    text-decoration: none;
    color: #DA0419;
    font-size: 1.5rem;
    margin: 2rem; }
    .menu_route:hover {
      animation: textColor .3s ease forwards, hooverZoom .3s ease forwards; }
  .menu li {
    margin: 0 1rem;
    overflow: hidden; }
  .menu_button_container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem; }

#menu_toggle {
  display: none; }

.menu_button,
.menu_button::before,
.menu_button::after {
  display: block;
  background-color: #DA0419;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px; }

.menu_button::before {
  content: '';
  margin-top: -8px; }

.menu_button::after {
  content: '';
  margin-top: 8px; }

#menu_toggle:checked + .menu_button_container .menu_button::before {
  margin-top: 0px;
  transform: rotate(405deg); }

#menu_toggle:checked + .menu_button_container .menu_button {
  background: transparent; }

#menu_toggle:checked + .menu_button_container .menu_button::after {
  margin-top: 0px;
  transform: rotate(-405deg); }

@media (max-width: 767px) {
  .menu {
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 8px 20px 0px lightgrey;
    z-index: 1; }
    .menu_button_container {
      display: flex; }
    .menu li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: white; }
    .menu li:not(:last-child) {
      border-bottom: 1px solid #444; }
  #menu_toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); }
  #menu_toggle:checked ~ .menu li {
    height: 7rem;
    display: flex;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    align-items: center;
    box-shadow: 0px 0px 3px 0px lightgrey; } }

@media (min-width: 768px) and (max-width: 1279px) {
  .menu {
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 8px 20px 0px lightgrey;
    z-index: 1; }
    .menu_button_container {
      display: flex; }
    .menu li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: white; }
    .menu li:not(:last-child) {
      border-bottom: 1px solid #444; }
  #menu_toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); }
  #menu_toggle:checked ~ .menu li {
    height: 7rem;
    display: flex;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    align-items: center;
    box-shadow: 0px 0px 3px 0px lightgrey; } }

.carousel {
  overflow: hidden;
  height: 82vh; }
  .carousel_button_prev, .carousel_button_prev {
    margin: 5px; }
  .carousel_button_prev {
    font-family: league-gothic, sans-serif;
    font-style: italic;
    color: #DA0419;
    position: absolute;
    top: 44%;
    left: 3.5vw;
    margin: 5px;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    opacity: 0.6;
    background-color: white; }
    @media (max-width: 767px) {
      .carousel_button_prev {
        display: none; } }
  .carousel_button_next {
    font-family: league-gothic, sans-serif;
    font-style: italic;
    color: #DA0419;
    position: absolute;
    top: 44%;
    right: 3.5vw;
    margin: 5px;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    opacity: 0.6;
    background-color: white; }
    @media (max-width: 767px) {
      .carousel_button_next {
        display: none; } }
  .carousel_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: #DA0419;
    font-size: 2rem;
    padding-left: 4vw;
    padding-right: 4vw; }
  .carousel_indicators {
    display: flex;
    justify-content: center; }
    .carousel_indicators button.active {
      background-color: black;
      color: #DA0419;
      transition: .3s ease; }
  .carousel_btn {
    border-radius: 50%;
    border: 2px solid lightgrey;
    opacity: 0.5;
    background-color: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem; }
  .carousel_container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center; }
  .carousel_reactProjects {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/ReactProjects.jpeg");
    border-radius: 2rem; }
    @media (min-width: 1280px) {
      .carousel_reactProjects {
        background-repeat: no-repeat; } }
  .carousel_stylingProjects {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/StylingProjects.jpeg");
    border-radius: 2rem; }
    @media (min-width: 1280px) {
      .carousel_stylingProjects {
        background-repeat: no-repeat; } }
  .carousel_snippets {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/Snippets.jpeg");
    border-radius: 2rem; }
    @media (min-width: 1280px) {
      .carousel_snippets {
        background-repeat: no-repeat; } }
  .carousel_github {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/GithubAccount.jpeg");
    border-radius: 2rem; }
    @media (min-width: 1280px) {
      .carousel_github {
        background-repeat: no-repeat; } }
  .carousel_header {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .carousel_header {
        font-size: 2rem; } }
    @media (min-width: 1280px) {
      .carousel_header {
        font-size: 3rem; } }

.inner {
  white-space: nowrap;
  transition: transform .3s; }

.fa-arrow-left-long {
  color: #DA0419;
  font-size: 3rem; }
  .fa-arrow-left-long:hover {
    cursor: pointer; }

.fa-arrow-right-long {
  color: #DA0419;
  font-size: 3rem; }
  .fa-arrow-right-long:hover {
    cursor: pointer; }

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  text-align: center;
  height: 88vh; }
  @media (min-width: 1280px) {
    .aboutme {
      font-size: 2rem; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .aboutme {
      font-size: 2rem; } }
  .aboutme_description {
    margin: 0; }

.contact {
  text-align: center;
  font-size: 2rem;
  height: 88vh; }

.hobby {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 4rem; }

.footer {
  height: 4vh; }
  .footer_container {
    box-shadow: 1px -8px 24px 0px lightgrey;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer img {
    height: 1rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .footer img {
        height: 2rem; } }
    @media (min-width: 1280px) {
      .footer img {
        height: 2rem; } }
  .footer_info {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .footer_info {
        font-size: 1.5rem; } }
    @media (min-width: 1280px) {
      .footer_info {
        font-size: 1.5rem; } }
  .footer_icons {
    margin-right: 1rem; }
  .footer_icons a:first-of-type {
    margin-right: 1rem; }

.reactProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw; }
  .reactProjects_list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 88vh; }
  .reactProjects_item {
    list-style: none;
    width: 40%;
    height: 20vh;
    box-shadow: 0px 0px 34px 3px rgba(135, 135, 135, 0.31);
    border-radius: 1rem;
    margin: 0.5rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .reactProjects_item {
        height: 30vh; } }
    @media (min-width: 1280px) {
      .reactProjects_item {
        width: 25vw;
        height: 35vh;
        margin: 1rem; } }
    .reactProjects_item p {
      margin: 0; }
      @media (min-width: 768px) and (max-width: 1279px) {
        .reactProjects_item p {
          font-size: 2rem; } }
      @media (min-width: 1280px) {
        .reactProjects_item p {
          font-size: 2rem; } }
  .reactProjects_link_planyourride {
    background-image: url("../images/ReactProjects/planyourride.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%; }
    .reactProjects_link_planyourride:hover {
      animation: hoverZoom 0.3s ease forwards; }

.stylingProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw; }
  .stylingProjects_list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 88vh; }
  .stylingProjects_item {
    list-style: none;
    width: 40%;
    height: 20vh;
    box-shadow: 0px 0px 34px 3px rgba(135, 135, 135, 0.31);
    border-radius: 1rem;
    margin: 0.5rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .stylingProjects_item {
        height: 30vh; } }
    @media (min-width: 1280px) {
      .stylingProjects_item {
        width: 25vw;
        height: 35vh;
        margin: 1rem; } }
    .stylingProjects_item p {
      margin: 0; }
      @media (min-width: 768px) and (max-width: 1279px) {
        .stylingProjects_item p {
          font-size: 2rem; } }
      @media (min-width: 1280px) {
        .stylingProjects_item p {
          font-size: 2rem; } }
  .stylingProjects_link_ffreak-bestshop {
    background-image: url("../images/StylingProjects/ffreak_bestshop.png");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%; }
    .stylingProjects_link_ffreak-bestshop:hover {
      animation: hoverZoom 0.3s ease forwards; }
  .stylingProjects_link_ffreak-verti {
    background-image: url("../images/StylingProjects/ffreak_verti.png");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%; }
    .stylingProjects_link_ffreak-verti:hover {
      animation: hoverZoom 0.3s ease forwards; }

.snippets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw; }
  .snippets_list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 88vh; }
  .snippets_item {
    list-style: none;
    width: 40%;
    height: 20vh;
    box-shadow: 0px 0px 34px 3px rgba(135, 135, 135, 0.31);
    border-radius: 1rem;
    margin: 0.5rem; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .snippets_item {
        height: 30vh; } }
    @media (min-width: 1280px) {
      .snippets_item {
        width: 25vw;
        height: 35vh;
        margin: 1rem; } }
    .snippets_item p {
      margin: 0; }
      @media (min-width: 768px) and (max-width: 1279px) {
        .snippets_item p {
          font-size: 2rem; } }
      @media (min-width: 1280px) {
        .snippets_item p {
          font-size: 2rem; } }

.github {
  height: 88vh;
  font-size: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 1280px) {
    .github {
      font-size: 4rem; } }
  .github_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: league-gothic, sans-serif;
    font-style: italic;
    color: #DA0419; }

@keyframes githubIcon {
  from {
    transform: scale(1);
    color: black; }
  to {
    transform: scale(1.25);
    color: #DA0419; } }

.fa-github {
  font-size: 10rem;
  color: black;
  margin-top: 3rem; }
  @media (min-width: 1280px) {
    .fa-github:hover {
      animation: githubIcon .3s ease forwards; } }

.form {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) and (max-width: 1279px) {
    .form {
      margin-top: 20px; } }
  .form__field {
    display: flex;
    flex-direction: column; }
    .form__field:first-of-type {
      margin-bottom: 42px; }
  .form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: #DA0419;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem; }
  .form__input {
    border: none;
    border-bottom: 1px solid lightgrey;
    background-color: transparent;
    line-height: 2.625rem; }
  .form__consent {
    margin-top: 30px; }
  .form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem; }
    .form__checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
      .form__checkbox input:checked ~ .checkbox {
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat; }
    .form__checkbox .checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 4px; }
    .form__checkbox .consent__text {
      margin: 0 10px;
      font-size: 0.75rem;
      color: lightgrey;
      line-height: 17px; }
  .form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px; }
