@import "reset";

//Fonts
@font-face {
  font-family: "League Gothic";
  font-style: italic;
  src: url("./fonts/LeagueGothic-Italic.otf") format("opentype");
}

//Variables
$primary-color: #DA0419;
$background-color: black;
$alt-background-color: white;
$shadow-color: lightgrey;

//Keyframes
@keyframes pulse {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}
@keyframes hoverZoom {
  from {
    transform: scale(1);
    border-radius: 1rem;
  }
  to {
    transform: scale(1.2);
    border-radius: 1rem;
  }
}
@keyframes hoverZoomOnly {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes textColor {
  from {
    color: $primary-color;
  }
  to {
    color: black;
  }
}
@keyframes githubIcon{
  from {
    transform: scale(1);
    color: black;
  }
  to {
    transform: scale(1.25);
    color: $primary-color;
  }
}
@keyframes dizzy {
  from {
    transform: rotate(-0.2deg)
  }
  to {
    transform: rotate(0.2deg)
  }
}

//Mixins
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin logoContainer {
  border: none;
  background-color: transparent;
  background-image: url("images/logo_red_transparent.png");
  background-position: center;
  background-size: cover;
  animation: zoomIn 2s ease alternate, pulse 1s 2s infinite alternate;
}
@mixin font {
  font-family: League Gothic, sans-serif;
  font-style: italic;
  color: #DA0419;
}
@mixin urls {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  @include desktop {
    background-repeat: no-repeat;
  }
}
@mixin projectsStyle {
  @include urls;
  border-radius: 2rem;
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 60%;
  }
  &:hover {
    cursor: pointer;
  }
}
@mixin makeMeDizzy {
  &:hover {
    animation: dizzy .005s ease-in-out infinite;
  }
}

//General
body {
  @include font;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $alt-background-color;
}
.hidden {
  display: none;
}
.app {
  background-color: #d3d3d32e;
}

//Logo
.logo{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    @include mobile {
      width: 60vw;
      height: 30vh;
      @include logoContainer;
    }
    @include tablet {
      width: 60vw;
      height: 30vh;
      @include logoContainer;
    }
    @include desktop {
      width: 30vw;
      height: 30vh;
      border: none;
      @include logoContainer;
    }
  }
  &_container:hover {
    cursor: pointer;
  }
}

//Header
.top_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $alt-background-color;
  box-shadow: 1px -10px 20px 10px $shadow-color;
  color: #FFF;
  height: 8vh;
  width:100vw;
  position:relative;

  &_logo {
    font-size: 6vh;
    color: $primary-color;
    display: flex;
    align-items: center;
    margin-left: 1rem;

    &:hover {
      cursor: pointer;
      @include desktop {
        animation: textColor .3s ease forwards;
      }
    }
  }
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 3rem;

  &_route {
    text-decoration: none;
    color: $primary-color;
    font-size: 2.5vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      animation: textColor .3s ease forwards, hooverZoom .3s ease forwards;
    }
  }

  &_element {
    margin: 0 1rem;
    overflow: hidden;
    width: 8vw;
  }

  &_button_container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
}
#menu_toggle {
  display: none;
}
.menu_button,
.menu_button::before,
.menu_button::after {
  display: block;
  background-color: $primary-color;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu_button::before {
  content: '';
  margin-top: -8px;
}
.menu_button::after {
  content: '';
  margin-top: 8px;
}
#menu_toggle:checked + .menu_button_container .menu_button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu_toggle:checked + .menu_button_container .menu_button {
  background: transparent;
}
#menu_toggle:checked + .menu_button_container .menu_button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@include mobile {
  .menu {
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 8px 20px 0px $shadow-color;
    z-index: 1;

    &_button_container {
      display: flex;
    }

    li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: $alt-background-color;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  #menu_toggle {
    ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:checked ~ .menu li {
      height: 7rem;
      display: flex;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      align-items: center;
      box-shadow: 0px 0px 3px 0px $shadow-color;
    }
  }
}
@include tablet {
  .menu {
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 8px 20px 0px $shadow-color;
    z-index: 1;

    &_button_container {
      display: flex;
    }

    li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: $alt-background-color;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  #menu_toggle {
    ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:checked ~ .menu li {
      height: 7rem;
      display: flex;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      align-items: center;
      box-shadow: 0px 0px 3px 0px $shadow-color;
    }
  }
}

//Carousel
.carousel {
  overflow: hidden;
  height: 82vh;

  &_button_prev,
  &_button_prev, {
    margin: 5px;
  }
  &_button_prev {
    @include font;
    position: absolute;
    top: 40%;
    left: 3.5vw;
    margin: 5px;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    opacity: 0.6;
    background-color: white;
    @include mobile {
      display:none;
    }

  }
  &_button_next {
    @include font;
    position: absolute;
    top: 40%;
    right: 3.5vw;
    margin: 5px;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    opacity: 0.6;
    background-color: white;
    @include mobile {
      display:none;
    }
  }
  &_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: $primary-color;
    font-size: 2rem;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 92%;
  }

  &_indicators {
    display: flex;
    justify-content: center;


    button.active {
      background-color: $background-color;
      color: $primary-color;
      transition: .3s ease;

    }
  }
  &_btn {
    border-radius: 50%;
    border: 2px solid $shadow-color;
    opacity: 0.5;
    background-color: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width:1rem;
    height:1rem;
  }

  &_container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  &_reactProjects {
    @include urls;
    background-image: url("images/ReactProjects.jpeg");
    @include projectsStyle;
  }
  &_stylingProjects {
    @include urls;
    background-image: url("images/StylingProjects.jpeg");
    @include projectsStyle;
  }
  &_snippets {
    @include urls;
    background-image: url("images/Snippets.jpeg");
    @include projectsStyle;
  }
  &_github {
    @include urls;
    background-image: url("images/GithubAccount.jpeg");
    @include projectsStyle;
  }
  &_header {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }
}
.inner {
  white-space: nowrap;
  transition: transform .3s;
}
.fa-arrow-left-long {
  color: $primary-color;
  font-size: 3rem;
  &:hover {
    cursor: pointer;
  }
}
.fa-arrow-right-long {
  color: $primary-color;
  font-size: 3rem;
  &:hover {
    cursor: pointer;
  }
}

///Aboutme
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  text-align: center;
  height: 88vh;
  font-size: 2vh;
  margin-left: 4vw;
  margin-right: 4vw;

  @include desktop {
    font-size: 3vh;
  }
  @include tablet {
    font-size: 2.5vh;
  }

  &_description {
    margin: 0;
  }
}

//Contact
.contact {
  text-align: center;
  font-size: 2rem;
  height:88vh;
}

//Hobby
.hobby {
  //min-height: 88vh;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //margin: 0 auto;
  //width: 75vw;

  &_header {
      color: $background-color;
      margin-bottom: 2vh;
      margin-top: 2vh;
      font-size: 4vh;
  }

  &_container {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    //width:100vw;
    font-size: 3vh;
    text-align: center;
    //margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  &_figure {
    height: 0;
    padding-bottom: 25.3125%;
    position: relative;
    margin: 1rem 1rem 1rem 1rem;
    width: 45vw;

    @include tablet {
      padding-bottom: 22.5%;
      width:40vw;
    }

    @include desktop {
      padding-bottom: 16.875%;
      width:30vw;
    }
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &:after {
    content: "";
    width:90vw;
    height: 0.25vh;
    background-color: $primary-color;
    border-radius: 2rem;
    margin-top: 2vh;
  }

  &_photos {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  flex-wrap: wrap;
  //  //width:100vw;
  //  font-size: 3vh;
  //  text-align: center;
  //  margin-top: 4vh;
  //  margin-left: 4vw;
  //  margin-right: 4vw;

    &_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
  &_photo {
    //width:10vw;
    padding: 0.5vw;
    border-radius: 2vw;
    max-width: 30vw;
    @include desktop {
      max-width: 15vw;
    }

    &:hover {
      animation: hoverZoomOnly .3s ease forwards;
    }
  }

}

//Footer
.footer {
  height: 4vh;

  &_container {
    box-shadow: 1px -8px 24px 0px $shadow-color;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    height: 3vh;
  }

  &_info {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 2vh;
  }

  &_icons {
  margin-right: 1rem;
  }

  &_icons a:first-of-type {
  margin-right: 1rem;
  }
}

//ReactProjects
.reactProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;

  &_list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }
  &_item {
    list-style: none;
    width: 40%;
    height: 20vh;
    box-shadow: 0px 0px 34px 3px rgba(135, 135, 135, 0.31);
    border-radius: 1rem;
    margin: 0.5rem;

    @include tablet {
      height: 30vh;
    }
    @include desktop {
      width: 25vw;
      height: 35vh;
      margin: 1rem;
    }

    p {
      margin: 0;

      @include tablet {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }
  }

  &_link_planyourride {
    background-image: url("images/ReactProjects/planyourride.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%;

    &:hover {
      animation: hoverZoom 0.3s ease forwards;
    }
  }
  &_link_giveingoodhands {
    background-image: url("images/ReactProjects/giveingoodhands.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%;

    &:hover {
      animation: hoverZoom 0.3s ease forwards;
    }
  }
}

//StylingProjects
.stylingProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;

  &_list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }
  &_item {
    list-style: none;
    width: 40%;
    height: 20vh;
    box-shadow: 0px 0px 34px 3px rgba(135, 135, 135, 0.31);
    border-radius: 1rem;
    margin: 0.5rem;

    @include tablet {
      height: 30vh;
    }
    @include desktop {
      width: 25vw;
      height: 35vh;
      margin: 1rem;
    }

    p {
      margin: 0;

      @include tablet {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }
  }

  &_link {
    &_ffreak-bestshop {
      background-image: url("images/StylingProjects/ffreak_bestshop.png");
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      width: 100%;
      height: 100%;

      &:hover {
        animation: hoverZoom 0.3s ease forwards;
      }
    }
    &_ffreak-verti {
      background-image: url("images/StylingProjects/ffreak_verti.png");
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      width: 100%;
      height: 100%;

      &:hover {
        animation: hoverZoom 0.3s ease forwards;
      }
    }
    &_giveingoodhands {
      background-image: url("images/StylingProjects/giveingoodhands.jpeg");
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      width: 100%;
      height: 100%;

      &:hover {
        animation: hoverZoom 0.3s ease forwards;
      }
    }
  }
}

//Snippets
.snippets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;


  &_list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }
  &_item {
    list-style: none;
    width: 40%;
    height: 20vh;
    box-shadow: 0px 0px 34px 3px rgba(135, 135, 135, 0.31);
    border-radius: 1rem;
    margin: 0.5rem;

    @include tablet {
      height: 30vh;
    }
    @include desktop {
      width: 25vw;
      height: 35vh;
      margin: 1rem;
    }

    p {
      margin: 0;

      @include tablet {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }
  }
}

//Github
.github {
  height: 88vh;
  font-size: 3rem;
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    font-size: 4rem;
  }

  &_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    @include font;
  }
}
.fa-github {
  font-size: 10rem;
  color: black;
  margin-top: 3rem;

  &:hover {
    @include desktop {
      animation: githubIcon .3s ease forwards;
    }
  }
}

//Form
.form {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-top: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      margin-bottom: 42px;
    }
  }

  &__label {
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $shadow-color;
    background-color: transparent;
    line-height: 2.625rem;
  }

  &__consent {
    margin-top: 30px;
  }

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        ~ .checkbox {
          //background-image: url(../assets/Checkmark.svg);
          background-position: center;
          background-size: 50%;
          background-repeat: no-repeat;
        }
      }
    }

    .checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: white;
      border: 1px solid $shadow-color;
      border-radius: 4px;
    }

    .consent__text {
      margin: 0 10px;
      font-size: 0.75rem;
      color: $shadow-color;
      line-height: 17px;
    }
  }

  .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
  }
}